.card {
    width: calc(25% - 20px);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color:bisque;
    transition: transform 1.5s ease;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .details {
    margin-top: 10px;
  }
  
  .details h2 {
    font-size: 16px;
    margin: 0;
  }
  
  .details p {
    font-size: 14px;
    color: #777;
    margin: 5px 0 0;
  }
  
  .card:hover {
    transform: translateY(-5px) ;

  }

  @media (max-width:1023px){
    .details p {
      font-size: 10px;
    }
    .details h2 {
      font-size: 12px;
    }
    
  }

  @media (max-width:767px){
    .details p {
      font-size: 14px;
    }
    .details h2 {
      font-size: 16px;
    }

    .card{
      width: calc(50% - 20px);
    }
    
  }



  