.App {
  text-align: center;
  padding-top: 36px;
  min-height: 100vh;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5rem;
  padding-right: .5rem;
}

@media (min-width:475px){
  .App{
    max-width: 475px;
  }
}
@media (min-width:640px){
  .App{
    max-width: 640px;
  }
}
@media (min-width:768px){
  .App{
    max-width: 768px;
  }
}
@media (min-width:1024px){
  .App{
    max-width: 1024px;
  }
}
@media (min-width:1280px){
  .App{
    max-width: 1280px;
  }
}
@media (min-width:1536px){
  .App{
    max-width: 1536px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-title{
  font-family:'Freckle Face';
  font-size: 67px;
  color: coral;
  animation: titleAnimate 3s ease infinite ;
}

@media (max-width:1023px){
  .app-title {
    font-size: 45px;
  }

  .App{
    padding-top: 24px;
  }
  
}

@keyframes titleAnimate {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.95, 1.05); }
  50% { transform: scale(1.05, 0.95); }
  75% { transform: scale(0.98, 1.02); }
}

